.container{
	margin-left: 80px;
}
.inp{
	height: 50px;
	width: 250px;
}
.inp1{
	height: 50px;
	width: 50%;

}
.name{
/*	right: 46%;*/
}
.p1{
	margin-top: -25px;
	margin-left: 20px;
}
@media only screen and (max-width:768px){
	.name{
		margin:0px ;
		
	}
}